body {
  background: url(https://i.pinimg.com/564x/1d/79/a2/1d79a249d27332b782428cc669430d5d.jpg);
  
}
.container {
  display: flex;
  justify-content: space-around;
  text-align: center; 
  height: 87vh;
  width: 98vw;
}
h1 {
  background-color: rgb(177, 111, 238);
  border: 2px solid black;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 15px;
}
.courses,.subjects,.semesters{
  min-width: 150px;
  width: 25vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.7); 
  border: 5px solid black;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center; 
  align-items: center;
  margin: 20px;
  overflow-y: auto; 
}
#subjectsList, #coursesList,#semesterList li {
  color: rgb(28, 72, 40); 
  font-weight: bold;
  font-size: 30px;
}
h3 {
  margin: 10px auto;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: #daf206;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px;
}
button {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #45a049;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
  margin-bottom: 10px;
}

ul li ul {
  padding-left: 0;
}

ul li ul li {
  margin-left: 20px;
}
