body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,116,181,0.6) 50%, rgba(2,0,36,1) 100%);

  margin-bottom: 1000px;
  padding: 0;
  margin: 0;
  text-align: center;

  font-family: Arial, sans-serif;
  color: #333;

}

header{
  margin-top: 10px;
  color: white;
  display: flex;
  /* justify-content: center; */
  padding: 10px;
  border-style: solid;

  backdrop-filter: blur(3px);
  border-color: rgb(255, 255, 255);
  border-width: 1.5px;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: 3px 3px #888888;

  z-index: 10;
  position: sticky;
  top: 0;
  
}

nav{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 15px;

}

nav>a{

  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  /* border-style: solid; */
  color: white;
  padding: 8px;
  text-decoration: none;

  position: relative;
  transition: 1s ease;
}


nav>a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav>a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scroll-container {
  background-color: #333;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-style: solid;
}

.scroll-container img {
  padding: 10px;

  background-color: rgb(59, 58, 58);
  /* border-style: solid; */
  width: 40%;
  height: 300px;
  margin-right: 20px;

  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.more-button{
  border-color: white;
  color: white;
  background: none;
  height: 60px;
  font-size: 20px;

  border-radius: 10px;
  cursor: pointer;

}

.banner{
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border-style: solid;
  backdrop-filter: blur(3px);
  border-color: rgb(255, 255, 255);
  border-width: 1.5px;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: 3px 3px #888888;


}

.banner>h1{
  color: rgb(213, 208, 208);
  text-decoration: underline;
}

.book-banner{
  position: relative;

}